@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.otf');
}

/* TURN ON FOR DEV TESTING
div{
  border: 2px solid red;
}
*/

 /* =================== \
|        Variables       |
 \ =================== */


 :root {
  --color-bg-primary: ivory;
  --color-bg-secondary: rgb(56, 56, 56);
  --color-text-primary: rgb(56, 56, 56);
  --color-text-secondary: ivory;
  --color-checkbox-green: green;
  --color-state-indeterminate: yellow;
  --color-state-success: limegreen;
  --color-state-error: rgb(225, 0, 0);
  --color-state-caution: orange;
  --color-accent-a: darkcyan;
  --color-accent-b: rgb(187, 161, 11);
  --color-accent-b-faded: rgba(187, 161, 11, 0.75);
  --random-cover-color: ;

  font-size: 18px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;

  font-weight: 500;
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --section-height-header: 5vh;
  --section-height-footer: 5vh;
  --section-height-main: calc(100vh - (var(--section-height-header) + var(--section-height-footer)));

  --width-left-panel: 33vw;
}

 /* =================== \
|         Elements       |
 \ =================== */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  background-image: url('Optimized-eleonore-kemmel-K2Rrug-aWAg-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  padding: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  padding: 12px;
  margin-bottom: 15px;
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  padding: 10px;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  padding: 10px;
}

header {
  min-height: var(--section-height-header);
}

footer {
  min-height: var(--section-height-footer);  
  padding: auto 0; 
}

main {
  min-height: var(--section-height-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Will need to replace the OS styles */
input{
  appearance: none;
  -webkit--appearance: none;
}

input[type="checkbox"]{
  position: relative; /* This is key, otherwise the checkbox is not clickable */
  border: 1px solid black;
  width: 1em;
  height: 1em;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -1px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before{
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

/* Must do :state::psuedo-class not
the other way around */
input[type="checkbox"]:checked::before{
  visibility: visible;
}

/*
input[type="radio"]{
  
}

input[type="radio"]:checked::before{
  
}

input[type="radio"]::before{
  
}
*/

legend{
  color: green;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid green;
}

input:read-only{
  background-color: lightgray;
}

input:autofill {
  border: 1px solid purple;  
}

input:-webkit-autofill{
  border: 10px solid purple;
}

button{
  background-color: rgba(56, 56, 56, 0.9);
  color: ivory;
  padding: 5px 10px;

  margin-top: 10px;
  font-size: 18px;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}


a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: inherit;
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

 /* =================== \
|         Classes        |
 \ =================== */ 

.section-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-a-book, .add-a-book-mb{
  min-width: 150px;
  max-width: 20%;
  background-color: ivory;
  padding: 10px;
  border-radius: 5px;
}

.shelf-capacity{
  min-width: 150px;
  background-color: ivory;
  padding: 10px;
  border-radius: 5px;
}

.book-count{
  color: darkred;
  font-weight: bold;
}

.case{
  width: 350px;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(70, 44, 20);
  margin-top: 20px;
  background-image: url('Optimized-jon-moore-5fIoyoKlz7A-unsplash.jpg');
  background-size: cover;
}

.book{
  position: relative;
  min-width: 40px;
  max-width: 70px;
  min-height: 100px;
  max-height: 250px;
  border: 3px solid black;
  text-align: center;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 2px;
  background-color: ivory;
  border-radius: 3px;
}

.author{
  color: ivory;
  writing-mode: vertical-lr;
  font-size: 1rem;
}

.title{
  display: block;
  text-align: center;
  font-size: 0.75rem;
  word-wrap: break-word;
  width: 90%;
  margin: 0 auto;
  color: ivory;
}

.btn-delete{
  cursor: pointer;
  display: none;
  position: absolute;
  top: 30%;
  left: 0px;
}

.book:hover .btn-delete{
  display: inline-block;
}

.btn-delete button{
  font-size: .8rem;
  border-radius: 10px;
}

.credit{
  font-size: .6rem;
  color: ivory;
  display: flex;
  flex-direction: column;
}

.show {
  display: block;
}

.show-mb{
  display: none;
}

.col-mb{
  min-width: 150px;
  max-width: 20%;
}

input{
  border: 2px solid rgb(70, 44, 20);
  border-radius: 5px;
  background: lightcyan;
}

.recommended {
  border: 2px solid rgb(0, 205, 0);
}

.unrecommended{
  border: 3px solid black;
}

span.recommended, span.unrecommended {
  display: block;
  border-radius: 2px;
}

@media screen and (max-width: 780px){
  
  .section-wrapper{
    flex-direction: column;
  }

  .col-mb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px 0px 0px;
    width: 80%;
    max-width: 100%;
  }

  .shelf-capacity{
    min-width: 80%;
  }

  .show{
    display: none;
  }

  .show-mb{
    display: block;
    min-width: 100%;
  }

  .shelf-capacity{
    min-width: 100%;
  }

}